<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Stored_Procedure_Manager.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Stored_Procedure_Manager.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <connectionStrings>
        <add name="Stored_Procedure_Manager.Properties.Settings.AutomationManagerConnectionString"
            connectionString="Data Source=SGDT-CTV6-2016\CELERITIMEV6;Initial Catalog=AutomationManager;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <userSettings>
        <Stored_Procedure_Manager.Properties.Settings>
            <setting name="ServerNameString" serializeAs="String">
                <value />
            </setting>
            <setting name="InstanceString" serializeAs="String">
                <value />
            </setting>
            <setting name="DatabaseString" serializeAs="String">
                <value />
            </setting>
            <setting name="UserNameString" serializeAs="String">
                <value />
            </setting>
            <setting name="PasswordString" serializeAs="String">
                <value />
            </setting>
            <setting name="PassFailString" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="PasswordOk" serializeAs="String">
                <value>scsint</value>
            </setting>
            <setting name="EXE1checkBoxString" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="EXE2checkBoxString" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="EXE3checkBoxString" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="EXE4checkBoxString" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="EXE5checkBoxString" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="EXE6checkBoxString" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="EXE7checkBoxString" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="EXE8checkBoxString" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="EXE9checkBoxString" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="EXE10checkBoxString" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ActivationPass" serializeAs="String">
                <value />
            </setting>
        </Stored_Procedure_Manager.Properties.Settings>
    </userSettings>
    <applicationSettings>
        <Stored_Procedure_Manager.Properties.Settings>
            <setting name="InstallerFolderString" serializeAs="String">
                <value>C:\Program Files (x86)\Sierra Workforce Solutions\Automation Manager\Installers</value>
            </setting>
            <setting name="InfoTextBoxButtonNameString" serializeAs="String">
                <value>Enter the name you would like this button to have.</value>
            </setting>
            <setting name="InfoTextBoxSPNameString" serializeAs="String">
                <value>Enter the name of the Stored Procedure that you want the button to execute.</value>
            </setting>
        </Stored_Procedure_Manager.Properties.Settings>
    </applicationSettings>
</configuration>